<article class="socialmediaicons">
  <span class="title">Join the movement: </span>
  <ul class="group">
    {{#each appdata.social}}
      <li><a href="{{this.url}}"><img class="icon" src="{{this.img}}" alt="icon for {{this.shortname}}"></a></li>
    {{/each}}
  </ul>
</article>
