{{>speakerslist}}

<section class="layout">

  <div class="primary">
    {{>whoarewe}}
    {{>getbusy}}
    {{>whoshouldcome}}
  </div>

  <aside class="secondary">
    {{>nextmeeting}}
    {{>artworklist}}
  </aside>
</section>
